name: Test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@main
        with:
          deno-version: 1.12.2
      - name: Run fmt
        run: |
          deno fmt --check
      - name: Run lint
        run: |
          deno lint --unstable hello.ts tests
          deno lint --unstable example-aws-cdk --ignore=example-aws-cdk/node_modules
          deno lint --unstable example-sam --ignore=example-sam/.aws-sam
          deno lint --unstable example-serverless --ignore=example-serverless/node_modules,example-serverless/.deno_dir
      - name: Sanity check types
        run: |
          deno run runtime/mod.ts
